@import "../_mixin.scss";

.main_icon__img {
  width: 120px;
  height: 120px;
}

.main_icon {
  @include flexRow;
  justify-content: center;
  padding: 20px;
}

.menu {
  & .menu_item__li {
    @include flexRow;
    min-height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;

    &.active {
      background-color: #f7b1b5;
      color: white;
    }

    & > *:not(:last-child) {
      margin-right: 10px;
    }


    &:hover {
      background-color: #f7b1b5;  
      color: white;    
    }

    
  }
  
}

@include mobile {
  aside {
    display: none;
  }
}