@import "./variables";

@mixin flexRow($horizontal-align: stretch, $vertical-align: center) {
  display: flex;
  flex-direction: row;
  justify-content: $horizontal-align;
  align-items: $vertical-align;
}

@mixin flexColumn($horizontal-align: stretch, $vertical-align: center) {
  display: flex;
  flex-direction: column;
  align-items: $horizontal-align;
  justify-content: $vertical-align;
}

@mixin notLastChild() {
  & > *:not(:last-child) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}