@import './reset.scss';
@import './menu';
@import './transition.scss';
@import './common.scss';
@import './icon.scss';

a {
  text-decoration: none;
  color: black;
}
input[type=checkbox] {
  // transform: scale(3);
  zoom: 2;
}

.d-none {
  display:none !important;
}
